<html>
    <head>
    <!-- {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app1/abc.css' %}"> -->
    </head>
    <body>
        <form action="/question_post/" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
        
        {% block head %}
        {% endblock %}
        {% if error %}
        <h1>{{ error }}</h1>
        {% endif %}
        {% for obj in all %}
        <h3>{{ obj }}<h3>
        {% endfor %}
        <!-- <input type="submit"> -->
        <button type="submit">submit</button>
        </form>
    </body>
</html>