<html>
 <head><title>Forms template</title>
	<style>
		#white{
			background-color: whitesmoke;
			font-size:20px;
			width:400px;
			height:800px;
		}	
        #submitButton{
            background-color: #71FF40;
            width: 300px;
            border: #71FF40;
            
            
        }
		
		
	
		
	</style>
 </head>
 <body>
     <!--NAV BAR GOES HERE-->
     <h1>Register yourself here for becoming Technical youth</h1>
 <form name="myForm" >
	<table id="white" align="right">
		<tr>
			<td>Name </td>
			<td>:<input type="text"> </td>               
		</tr>
		
		<tr>
				<td>Email Address</td>
				<td>:<input type="email"/></td>                         
        </tr>
        
		<tr>
			<td>Set Password</td>
			<td>:<input type="password"/></td>                         
	</tr>
	<tr>
			<td><input type="hidden" value="45" name="ID"/></td>
			<td><input type="submit" id="submitButton" /></td>                         
	</tr>
   </table>
  </form>	
 </body>
</html>