<!DOCTYPE html>
<html lang="en">
  <head>
      <title>MultiSubmit </title>
      <meta charset="utf-8">
      
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
      <meta http-equiv="x-ua-compatible" content="ie=edge">
  
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Submit Multiple</title>

    <style>
#search {
    width:90%;
    padding:10px;
}

.searchicon {
    color:#5CB85C;
    padding:10px;
}


.items-collection{
    margin:20px 0 0 0;
    padding:10px;
}

.items-collection label.btn-default.active{
    background-color:#007ba7;
    color:#FFF;
    padding:10px;
}

.items-collection label.btn-default{
    width:90%;
    border:1px solid #305891;
    margin:5px; 
    border-radius: 17px;
    color: #305891;
    padding:10px;

}
.items-collection label .itemcontent{
    width:100%;
    padding:10px;
}

.items-collection .btn-group{
    width:90%;
     padding:10px;
}

#b2{
    padding-right:5px;
}

#b1{
         padding-top:20px;
         text-align: center;
     }
   </style>
  
</head>
 
<body>
    <form action="/getinterest/" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
        <div id="b1">
                <button type="button" class="btn btn-primary btn-lg" script="javascript:void(0)">Browse Interest</button>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="items-collection">
            
                            <div  class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                        <label class="btn btn-secondary">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="python" autocomplete="off" value="3">
                                                <h5>Python</h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-secondary">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                
                                                <h5>Python</h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div   class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-secondary">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="cpp" autocomplete="off" value="C++">
                                        
                                                <h5>C++</h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-secondary">
                                            <div  id="b2" class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                      
                                                <h5>C</h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-secondary">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                
                                                <h5>C++</h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>                
                            <div  class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-secondary">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                   
                                                <h5>Data Science</h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>                
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-secondary">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                      
                                                <h5>DBMS</h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>                
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-secondary">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                             
                                                <h5>HTML/CSS/JS</h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>                
            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br>
                    
                </div>    
            </div>
            <div id="b1" >
                    <input type="submit" class="btn btn-primary btn-lg">
                </div>
            <style>
            #search {
                width:90%;
            }
            
            .searchicon {
                color:#5CB85C;
            }
            
            .items-collection{
                margin:20px 0 0 0;
            }
            .items-collection label.btn-default.active{
                background-color:#007ba7;
                color:#FFF;
            }
            .items-collection label.btn-default{
                width:90%;
                border:1px solid #305891;
                margin:5px; 
                border-radius: 17px;
                color: #305891;
            }
            .items-collection label .itemcontent{
                width:100%;
            }
            .items-collection .btn-group{
                width:90%
            }
            </style>
            
            <script>
            $(function () {
                $('#search').on('keyup', function () {
                    var pattern = $(this).val();
                    $('.items-collection .items').hide();
                    $('.items-collection .items').filter(function () {
                        return $(this).text().match(new RegExp(pattern, 'i'));
                    }).show();
                });
            });
            </script><br><br><br>
<script>
$(function () {
    $('#search').on('keyup', function () {
        var pattern = $(this).val();
        $('.items-collection .items').hide();
        $('.items-collection .items').filter(function () {
            return $(this).text().match(new RegExp(pattern, 'i'));
        }).show();
    });
});
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

</form>
  </body>
</html>